body {
    background-color: grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parrafo1 {
    color: red;
}

.cvfoto {
    height: 300px;
    float: right;
}

.parrafo2 {
    color: yellow;
}